[run]
source = sentinel
branch = true
omit =
    */tests/*
    */__main__.py
    */main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    def __str__
fail_under = 80
